/* Mediawiki Reset */
#mw-panel, #mw-head, #mw-page-base, #mw-head-base, #footer {display:none;}
div#content a.external, div#content a.external[href^="gopher://"] {
background: transparent;
background:url(http://wiki.acfun.tv/skins/vector/images/external-link-ltr-icon.png?2010-12-07T21:03:20Z) center right no-repeat!ie;
padding-right: 0px;
}
/* CSS Reset */
h1,h2,h3,h4,h5,h6,ul,li{
	margin:5px;
	padding:0;
	list-style:none;
	list-style-type:none
}
body {
	background:#fff;
}
a {
	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	text-decoration: none;
	cursor: pointer;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #369;
}
a:link {
	text-decoration: none;
}
/* User Defined CSS */
.list1 {
	float: left;
	width: 90%;
}
.list1 li:hover {
	background-color: #DBEAF7;
}
.list1 li {
	float: left;
	border:1px solid #75ADDF;
	border-radius: 15px;
	margin-left: 4px;
	margin-right: 4px;
	width: 100%;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}